<app-enseignantvabar></app-enseignantvabar>
<div class="container">
    <form #form (ngSubmit)="createSeance()">   
        <div class="head">
            <h2>Creation d'une Séance</h2>
            
        </div>
        <div class="form-group">
          <label for="groupe">Groupe</label>
          <select class="form-control" id="groupe" name="groupe" required [(ngModel)]="seance.groupe">
            <option value="">-- Sélectionnez un Groupe --</option>
            <option *ngFor="let groupe of currentUser.groupes" [ngValue]="groupe">{{groupe.nomGrp}}</option>

          <!-- <option value="INFO-1F">INFO-1F</option>
            <option value="INFO-1A">INFO-1A</option>
            <option value="INFO-1B">INFO-1B</option>-->
          </select>
        </div>
        
        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" class="form-control" id="date" name="date" required [(ngModel)]="seance.date" > <!--[(ngModel)]="seance.date"-->
        </div>
      
        <div class="form-group">
          <label for="heuredebut">Heure de début</label>
          <input type="time" class="form-control" id="heuredebut" name="heuredebut"required [(ngModel)]="seance.heureDebut"> <!--[(ngModel)]="seance.heureDebut"-->
        </div>
      
        <div class="form-group">
          <label for="heurefin">Heure de fin</label>
          <input type="time" class="form-control" id="heurefin" name="heurefin" required [(ngModel)]="seance.heureFin"> <!--[(ngModel)]="seance.heureFin"-->
        </div>
      
        <div class="form-group">
          <label for="type">Type</label>
          <select class="form-control" id="type" name="type" required [(ngModel)]="seance.type"> <!--[(ngModel)]="seance.type"-->
            <option value="">-- Sélectionnez un type --</option>
            <option value="Cours">Cours</option>
            <option value="TD">TD</option>
            <option value="TP">TP</option>
          </select>
        </div>
      
        <button  type="submit" class="btn btn-primary mt-2">Créer</button> <!--[disabled]="form.invalid"-->
      </form>
     
</div>
