<div class="container">
       
    <form autocomplete="off">
        <div class="title">
            <h2>Login</h2>
        </div>
        <div class="mt-5">
          <label for="email">Email:</label>
          <input type="email" name="email" class="form-control" placeholder="E_mail">
        </div>
        <div class="mt-3">
          <label>Mot de Passe:</label>
          <input type="password" name="password" class="form-control" placeholder="mot de passe">
        </div>
        <div class="subbtn">
            <button type="submit"  class="form-control btn btn-primary">Se Connecter</button>
           <!-- <p>Dont' have an account? <a routerLink="signup" >Signup</a></p>-->
        </div>
        <!--(click)=" goToSignUp()"-->
      </form>

</div>



