<div class="popup">
  <div class="popup-content">
    <span class="close" (click)="togglePopupetd()">&times;</span>
    
   
<div class="container">
    <h2>Creation du Compte Etudiant</h2>
    <hr>
    <form>
        <div>
            <label for="firstname" class="form-label">FirstName</label>
            <input type="text" class="form-control" name="firstName" id="firstname">
        </div>

        <div>
            <label for="lastname" class="form-label">LastName</label>
            <input type="text" class="form-control" name="lastName" id="lastname">
        </div>
        <div>
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" id="email">
        
        </div>

        <div>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" >
          </div>

          <div>
              <label for="photo" class="form-label">Photo</label>
              <input type="file" class="form-control" name="photo" id="photo" >
          </div>  
        <div class="mb-3">
            <label for="selectclasse" class="form-label">Class</label>
      <select  name="selectclasse" id="selectclasse" class="form-select">
        <option value="class A">A</option>
        <option value="class B">B</option>
        <option value="class C">C</option>
      </select>
        </div>

        <button type="submit" class="btn btn-primary form-control">Créer</button>
      </form>
</div>

  </div>
</div>



  
    
  
